/*
Theme Name: Well.vn
Theme URI: https://well.vn;
Author: Dakachi
Author URI: 
Description:
Version: 1.0.0
Text Domain: well
*/

.footer-inner {
    padding-top: 50px;
}

.trusted-links-link a  {
    color: #00040B;
}

li.view-all {
    flex-basis: 100%;
}

.header .nav-list {
    max-width: 800px;
    justify-content: center;
}

ul.fullscreen-nav-sub span.fullscreen-nav-title {
    border-bottom: none;
    margin-bottom: 0;
}
ul.fullscreen-nav-sub span.fullscreen-nav-title a {
    font-size: 1.06rem
}

header.comp.header.header-condensed ul.nav-list {
    justify-content: start;
}

.author #main {
    overflow-y: hidden;
}

.error404 #main {
    background-color: #C6D5EB;
}

.header-condensed .nav-sub .nav-list-item:first-child>span {
    padding-left: 0;
    border-left: 0;
}

.header .nav-sub span.nav-title a  {
    padding-bottom: 0 !important;
    border: none !important;
}

.header .nav-sub .view-all span a {
    margin: 1rem 0;
    border: 1px solid #00040B !important;
    display: inline-block;
    background: 0 0;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    margin-top: .375rem;
    margin-bottom: 0;
    padding: .1875rem .75rem !important;;
    font-size: .8125rem;
}
.header .nav-sub .view-all a:hover {
    border-color: #0D57CF;
    background-color: #0D57CF;
}
.header .nav-sub .view-all a .icon-circle-arrow-right {
    margin-left: 5px !important;
}
.header .nav-sub .view-all a:hover svg {
    fill: #fff;
}

.page-static-template.static-hero .hero-container {
    max-width: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.current-category-ancestor .nav-title a {
    padding-bottom: .125rem;
    border-bottom: 3px solid #DF331C;
}

.single-post .expert-content {
    counter-reset: heading2;
}
.single-post .expert-content h2::before {
    counter-increment: heading2;
    content: counter(heading2);
    display: inline-block;
    background: #00040B;
    color: #fff;
    border-radius: 0;
    font-size: 1.375rem;
    padding: .2em .5em;
    position: relative;
    margin-right: 10px;
}

.article-content .wp-block-image img {
    -webkit-clip-path: polygon(0 0,100% 0,100% 96%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 96%,0 100%);
}
.article-content .wp-block-image figcaption {
    text-align: right;
    font-size: .75rem;
    color: #646464;
    margin-top: -1em;
    display: block;
    width: 100%;
}

.mntl-sc-block-callout.yellow {
    border-color: #FFCB00;
}

.mntl-sc-block-callout.theme-key-takeaway {
    border-radius: 0;
    box-shadow: 5px 5px 0 0 #FFCB00;
}
.aboutUsTemplate .static-hero {
    background-color: #fff
}

.aboutUsTemplate .about-quotes-content::before {
    color: #DF331C
}

ul.page-numbers li {
    display: inline-block;
    margin: 0 4px 8px 0;
}
ul.page-numbers li a,
ul.page-numbers li span {
    display: block;
    text-align: center;
    line-height: 1;
    padding: .7rem 1rem;
    border: 1px solid #00040B;
    color: #00040B;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
ul.page-numbers li span.current,
ul.page-numbers li a:hover {
    background: #00040B;
    border-color: #00040B;
    color: #fff;
}

ul.page-numbers li a.prev.page-numbers,
ul.page-numbers li a.next.page-numbers {
    border: none;
    padding: .5rem;
}
ul.page-numbers li a.prev.page-numbers:hover,
ul.page-numbers li a.next.page-numbers:hover {
    color: #DF331C;
    background: 0 0;
}
